::-webkit-scrollbar {
    display: none;
}
body {
  margin: 0;
}
#parallax-container {
  height: 1000px;
  display: block;
}
#parallax-container div {
  position: fixed;
  top: 0;
  background-position: center !important;
  transform: translateY(0px);
  height: 1000px;
  width: 100%;
}

.body_content {
  height: 200em;
  z-index: 1;
  position: relative;
  background-color: #111622;
  transform: skewY(2deg);
  transform-origin: 100%;
}

.paragraph_text {
  transform: skewY(-2deg);
  transform-origin: 100%;
}

.synopsis {
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 4em;
  padding-bottom: 4em;
  color: #e6bd42;
}

/* Social Icons */
#social_side_links {
	position: fixed;
  top: 60px;
  left: 0;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#social_side_links li a {display: block;}

#social_side_links li a img {
  margin-bottom: 0.5em;
  border-radius: 15px;
  cursor: pointer;
	display: block;
	max-width:40px;
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}

#social_side_links li a:hover img {background: rgba(0, 0, 0, .2);}

/*buy book*/
#buy_book {
	position: fixed;
  top: 10px;
  right: 5px;
  padding: 0;
  list-style: none;
  z-index: 99;
}

#buy_book li a {display: block;}

#buy_book li a img {
  margin-bottom: 0.5em;
  border-radius: 15px;
  cursor: pointer;
	display: block;
	/*max-width:40px;*/
  -webkit-transition:  background .2s ease-in-out;
  -moz-transition:  background .2s ease-in-out;
  -o-transition:  background .2s ease-in-out;
  transition:  background .2s ease-in-out;
}

#buy_book li a:hover img {background: rgba(0, 0, 0, .2);}


 /*TABS*/

main {
  transform: skewY(-2deg);
  transform-origin: 100%;
  min-width: 320px;
  padding: 50px;
  background: #fff;

}

section {
  display: none;
  padding: 20px 0 0;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 30px;
  font-weight: 600;
  text-align: center;
}

label:hover {
  cursor: pointer;
}

input:checked + label {
  color: red;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6,
#tab7:checked ~ #content7,
#tab8:checked ~ #content8 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
