::-webkit-scrollbar {
    display: none;
}
body {
  margin: 0;
}
#parallax-container {
  height: 1000px;
  display: block;
}
#parallax-container div {
  position: fixed;
  top: 0;
  background-position: center !important;
  transform: translateY(0px);
  height: 1000px;
  width: 100%;
}

.body_content {
  height: 200em;
  z-index: 1;
  position: relative;
  background-color: #111622;
  transform: skewY(2deg);
  transform-origin: 100%;
}

body > div:nth-child(2) {
  background-color: rgba(0,0,0,0);
}

.paragraph_text {
  transform: skewY(-2deg);
  transform-origin: 100%;
}

.synopsis {
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 4em;
  color: #e6bd42;
}
